{{ define "page" }}

<div class="center-page">

    {{/*Activation Form*/}}
    <form class="form-center" action="/activation" method="post">

        {{/*Title*/}}
        <span class="title">Antoine's Portfolio</span>

        {{/*CSRF Token*/}}
        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

        {{/*Activation Token*/}}
        <input type="hidden" name="token" value="{{ .ActivationToken }}">

        {{/*Submit Button*/}}
        <div class="submit">
            <button class="form-button" type="submit"> Activate </button>
        </div>

    </form>

</div>

{{ end }}