{{define "page"}}
<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form method="post" action="/forgot-password" class="login">
                <p class="login-title bottom-outset"> Recover Account </p>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                {{range .Form.NonFieldErrors}}
                    <div class="flash">{{.}}</div>
                {{end}}
                
                <div class="input-fields">
                    <label for="email"></label>
                    {{with .Form.FieldErrors.email}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="text" name="email" id="email" placeholder="Email Address" value="{{.Form.Email}}" autofocus required>
                </div>
                
                <div class="submit">
                    <button class="button borders" type="submit"> Send </button>
                </div>
            </form>
    
            <div class="separation"> 
                <div class="line"></div>
                <p class="or"> OR </p>
                <div class="line"></div>
            </div>
    
            <a href="/login" class="switch borders"> Login </a>
        </div>
    </div>
{{end}}