{{ define "page" }}

    <div class="center-page">

        {{/*Login Form*/}}
        <form method="post" action="/register" class="form-center">

            {{/*Title*/}}
            <span class="title">Antoine's Portfolio</span>

            {{/*CSRF Token*/}}
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

            {{/*Generic error messages*/}}
            {{ range .Form.NonFieldErrors }}
                <div class="form-error">{{ . }}</div>
            {{ end }}

            {{/*User Input*/}}
            <div class="input-fields">

                {{/*Email*/}}
                <div class="form-input">
                    <label for="email" class="input-label"> Email </label>
                    {{ with .Form.FieldErrors.email }} {{/*Error Message*/}}
                    <div class="form-error">{{ . }}</div>
                    {{ end }}
                    <input class="input-text" type="email" name="email" id="email" value="{{ .Form.Email }}" required />

                    {{/*Form Info*/}}
                    <details class="form-info">
                        <summary>Requirements &#9432;</summary>
                        <div>You need access to your email address.</div>
                    </details>
                </div>

            </div>

            {{/*Submit Button*/}}
            <div class="submit">
                <button class="form-button" type="submit"> Send </button>
            </div>

            {{/*Alternative Action*/}}
            <div class="form-alt">
                <span class="text"> Remember your password? </span>
                <a href="/register" class="form-link"> Sign in </a>
            </div>

        </form>

    </div>

{{ end }}


