{{define "page"}}
<div class="container-accueil">
    <div class="container-accueil-text">
        <h3> Welcome to Antoine's Portfolio</h3>
        <p> Discover who is Antoine and what he is working on in his computer science studies ! </p>
    </div>

    <div class="container-accueil-content borders">
        <h4> Posts </h4>
        <div class="container-category">
            {{if ne (len .Posts.List) 0}}
                {{range .Posts.List}}
                    <div class="rectangle-category borders borders-hover relative">
                        <img src="/static/img/icons/tech-icon.svg" alt="post icon">
                        <h5> {{.Title}} </h5>
                        <a href="/post/{{.ID}}" class="category-link abs full on-top"></a>
                    </div>
                {{end}}
            {{else}}
                <div class="flash">No posts yet :/</div>
            {{end}}
        </div>
    </div>
    {{if .IsAuthenticated}}
        <div class="flash">You are logged in :D</div>
    {{else}}
        <div class="flash">You aren't logged in :/</div>
    {{end}}
</div>
{{end}}