{{define "page"}}

    {{/* #######################################################################################*/}}
    {{/*                                      OVERVIEW                                          */}}
    {{/* #######################################################################################*/}}

    <div class="overview">

        <h1 class="main-title">Computer Science Student</h1> {{/* TODO -> Swap with a variable later */}}

        {{/*Contact card*/}}
        <div class="card-resume">

            {{/*Author photo*/}}
            <div class="resume-photo">
                <img src="{{ .Author.Avatar }}" alt="author picture" class="photo" />
            </div>

            {{/*Author activity*/}}
            <div class="activity">
                {{ .Author.Activity }}
            </div>

            {{/*Author informations*/}}
            <div class="card-info">

                {{/*Email*/}}
                <div class="info-line">
                    <img src="/static/icons/mail.svg" alt="mail icon" class="info-icon" />
                    <span class="info-text">{{ .Author.Email }}</span>
                </div>

                {{/*Location*/}}
                <div class="info-line">
                    <img src="/static/icons/location.svg" alt="location icon" class="info-icon" />
                    <span class="info-text">{{ .Author.Location }}</span>
                </div>

                {{/*Status Activity*/}}
                <div class="info-line">
                    <img src="/static/icons/work.svg" alt="work icon" class="info-icon" />
                    <span class="info-text">{{ .Author.StatusActivity }}</span>
                </div>
            </div>

            {{/*Skill Tags*/}}
            <div class="tags-skill">
                {{ range .Author.Tags }}
                    <div class="tag">{{ . }}</div>
                {{ end }}
            </div>

            {{/*Download CV*/}}
            <div class="cv-download-btn relative">
                <a href="{{ .Author.CVFile }}" target="_blank" class="abs full on-top"></a>
                <span class="btn-txt">Download CV</span>
                <img src="/static/icons/download.svg" alt="download icon" class="btn-icon" />
            </div>
        </div>



    </div>


    {{/* #######################################################################################*/}}
    {{/*                                         INTRO                                          */}}
    {{/* #######################################################################################*/}}

    <div class="intro">

    </div>


    {{/* #######################################################################################*/}}
    {{/*                                       FORMATIONS                                       */}}
    {{/* #######################################################################################*/}}

    <div class="formations">

    </div>


    {{/* #######################################################################################*/}}
    {{/*                                         SKILLS                                         */}}
    {{/* #######################################################################################*/}}

    <div class="skills">

    </div>


    {{/* #######################################################################################*/}}
    {{/*                                       EXPERIENCES                                      */}}
    {{/* #######################################################################################*/}}

    <div class="experiences">

    </div>


    {{/* #######################################################################################*/}}
    {{/*                                        LAST POST                                       */}}
    {{/* #######################################################################################*/}}

    <div class="last-post">

    </div>


    {{/* #######################################################################################*/}}
    {{/*                                         CONTACT                                        */}}
    {{/* #######################################################################################*/}}

    <div class="contact">

    </div>

{{end}}