{{define "page"}}
<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form method="post" action="/login" class="login">
                <p class="login-title bottom-outset"> Login </p>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                {{range .Form.NonFieldErrors}}
                    <div class="flash">{{.}}</div>
                {{end}}
    
                <div class="input-fields">
                    <label for="email"> Email </label>
                    {{with .Form.FieldErrors.email}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="text" name="email" id="email" placeholder="Email Address" value="{{ .Form.Email }}" autofocus required>
        
                    <label for="password"> Password </label>
                    {{with .Form.FieldErrors.password}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="password" name="password" id="password" placeholder="Password" required>
                </div>
    
                <div class="submit">
                    <a href="/forgot-password" class="classic-link"> Forgot password ? </a>
                    <button class="button borders" type="submit"> Submit </button>
                </div>
            </form>
    
            <div class="separation"> 
                <div class="line"></div>
                <p class="or"> OR </p>
                <div class="line"></div>
            </div>
    
            <a href="/register" class="switch borders"> Register </a>
        </div>
    </div>
{{end}}