{{ define "page" }}

    <div class="center-page">

        {{/*Login Form*/}}
        <form method="post" action="/login" class="form-center">

            {{/*Title*/}}
            <span class="title">Antoine's Portfolio</span>

            {{/*CSRF Token*/}}
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

            {{/*Generic error messages*/}}
            {{ range .Form.NonFieldErrors }}
                <div class="form-error">{{ . }}</div>
            {{ end }}

            {{/*User Input*/}}
            <div class="input-fields">

                {{/*Email*/}}
                <div class="form-input">
                    <label for="email" class="input-label"> Email </label>
                    {{ with .Form.FieldErrors.email }} {{/*Error Message*/}}
                    <div class="form-error">{{ . }}</div>
                    {{ end }}
                    <input class="input-text" type="text" name="email" id="email" value="{{ .Form.Email }}" autofocus required />
                </div>


                {{/*Password*/}}
                <div class="form-input">
                    <label for="password" class="input-label"> Password </label>
                    {{ with .Form.FieldErrors.password }} {{/*Error Message*/}}
                    <div class="form-error">{{ . }}</div>
                    {{ end }}
                    <input class="input-password" type="password" name="password" id="password" required />

                    {{/*Forgot Password Option*/}}
                    <a href="/forgot-password" class="forgot-link"> Forgot your password? </a>
                </div>

            </div>

            {{/*Submit Button*/}}
            <div class="submit">
                <button class="form-button" type="submit"> Sign in </button>
            </div>

            {{/*Alternative Action*/}}
            <div class="form-alt">
                <span class="text"> Don't have an account yet? </span>
                <a href="/register" class="form-link"> Register now </a>
            </div>

        </form>

    </div>

{{ end }}