{{ define "page" }}

    {{ with .Post }}

        <div class="post-ctn">

            {{/*Post Title*/}}
            <div class="title"> {{ .Title }} </div>

            {{/*Post Info & Stats*/}}
            <div class="separator"></div>
            <div class="post-info-ctn">
                <div class="post-info"> <span class="bold"> Published: </span> {{ .CreatedAt }} </div>
                <div class="post-info"> <span class="bold"> Edited: </span> {{ .UpdatedAt }} </div>
                <div class="post-info"> {{ .Views }} views </div>
            </div>
            <div class="separator"></div>

            {{/*Post Cover*/}}
            <div class="post-cover">
                {{ if gt (len .Images) 0 }}
                    <img src="{{ index .Images 0 }}" alt="post cover image" class="post-cover-img" />
                {{ else }}
                    <img src="/static/img/not-found.jpg" alt="image not found" class="post-cover-img" />
                {{ end }}
            </div>

            {{/*Post Content*/}}
            <div class="post-content">
                {{ mdToHTML .Content }}
            </div>

            {{/*Post Info & Stats*/}}
            <div class="separator"></div>
            <div class="post-info-ctn">
                <div class="post-info"> <span class="bold"> Published: </span> {{ .CreatedAt }} </div>
                <div class="post-info"> <span class="bold"> Edited: </span> {{ .UpdatedAt }} </div>
                <div class="post-info"> {{ .Views }} views </div>
            </div>
            <div class="separator"></div>

        </div>

    {{ else }}

        {{/*No Post Found Error*/}}
        <div class="alert"> No post found :/ </div>

    {{ end }}

    {{/*Display Popular Posts*/}}
    {{ with .PostFeed.Popular }}
        {{ template "post-list" . }}
    {{ end }}

{{ end }}