{{ define "page" }}

    {{ $isAuthenticated := .IsAuthenticated }}

    {{ with .Post }}

        <div class="post-ctn">

            {{ if $isAuthenticated }}
                <div class="admin-actions-ctn">
                    <div class="admin-actions">
                        <div class="admin-elem dots">
                            <img src="/static/img/icons/dots-icon.svg" alt="dots icon" class="admin-icon">
                        </div>
                        <div class="admin-elem edit relative">
                            <a href="/post/{{ .ID }}/update" class="abs full on-top"></a>
                            <svg class="admin-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 18.0002L19.9999 19.0943C19.4695 19.6744 18.7501 20.0002 18.0001 20.0002C17.2501 20.0002 16.5308 19.6744 16.0004 19.0943C15.4692 18.5154 14.75 18.1903 14.0002 18.1903C13.2504 18.1903 12.5311 18.5154 12 19.0943M3 20.0002H4.67454C5.16372 20.0002 5.40832 20.0002 5.63849 19.945C5.84256 19.896 6.03765 19.8152 6.2166 19.7055C6.41843 19.5818 6.59138 19.4089 6.93729 19.063L19.5 6.50023C20.3285 5.6718 20.3285 4.32865 19.5 3.50023C18.6716 2.6718 17.3285 2.6718 16.5 3.50023L3.93726 16.063C3.59136 16.4089 3.4184 16.5818 3.29472 16.7837C3.18506 16.9626 3.10425 17.1577 3.05526 17.3618C3 17.5919 3 17.8365 3 18.3257V20.0002Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="admin-elem delete relative">
                            <a href="/post/{{ .ID }}/delete" class="abs full on-top"></a>
                            <svg class="admin-icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 3H15M3 6H21M19 6L18.2987 16.5193C18.1935 18.0975 18.1409 18.8867 17.8 19.485C17.4999 20.0118 17.0472 20.4353 16.5017 20.6997C15.882 21 15.0911 21 13.5093 21H10.4907C8.90891 21 8.11803 21 7.49834 20.6997C6.95276 20.4353 6.50009 20.0118 6.19998 19.485C5.85911 18.8867 5.8065 18.0975 5.70129 16.5193L5 6M10 10.5V15.5M14 10.5V15.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            {{ end }}

            {{/*Post Title*/}}
            <div class="title"> {{ .Title }} </div>

            {{/*Post Info & Stats*/}}
            <div class="separator"></div>
            <div class="post-info-ctn">
                <div class="post-info"> <span class="bold"> Published: </span> {{ humanDate .CreatedAt }} </div>
                <div class="post-info"> <span class="bold"> Edited: </span> {{ humanDate .UpdatedAt }} </div>
                <div class="post-info"><img src="/static/img/icons/view-icon.svg" alt="view icon" class="view-icon"> {{ .Views }} </div>
            </div>
            <div class="separator"></div>

            {{/*Post Cover*/}}
            <div class="post-cover">
                {{ if gt (len .Images) 0 }}
                    <img src="{{ index .Images 0 }}" alt="post cover image" class="post-cover-img" />
                {{ else }}
                    <img src="/static/img/not-found.jpg" alt="image not found" class="post-cover-img" />
                {{ end }}
            </div>

            {{/*Post Content*/}}
            <div class="post-content">
                {{ mdToHTML .Content }}
            </div>

            {{/*Post Info & Stats*/}}
            <div class="separator"></div>
            <div class="post-info-ctn">
                <div class="post-info"> <span class="bold"> Published: </span> {{ humanDate .CreatedAt }} </div>
                <div class="post-info"> <span class="bold"> Edited: </span> {{ humanDate .UpdatedAt }} </div>
                <div class="post-info"><img src="/static/img/icons/view-icon.svg" alt="view icon" class="view-icon"> {{ .Views }} </div>
            </div>
            <div class="separator"></div>

        </div>

    {{ else }}

        {{/*No Post Found Error*/}}
        <div class="alert"> No post found :/ </div>

    {{ end }}

    {{/*Display Popular Posts*/}}
    {{ with .PostFeed.Popular }}
        {{ template "post-list" . }}
    {{ end }}

{{ end }}