{{define "page"}}
 <div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form method="post" action="/post/create" class="login">
                <p class="login-title bottom-outset"> Create a new post </p>
                <div class="input-fields">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    {{range .Form.NonFieldErrors}}
                        <div class="flash">{{.}}</div>
                    {{end}}

                    <label for="title"></label>
                    {{with .Form.FieldErrors.title}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="text" name="title" id="title" placeholder="Title" value="{{.Form.Title}}" autofocus required>
                    <label for="images"></label>
                    {{with .Form.FieldErrors.images}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    {{$index := 0}}
                    {{range $index, $img := .Form.Images}}
                        <input class="input borders" type="text" name="images[{{$index}}]" id="images" placeholder="Image URL" value="{{$img}}" required>
                    {{end}}
                    <input class="input borders" type="text" name="images[{{$index}}]" id="images" placeholder="Image URL">
                    <label for="content"></label>
                    {{with .Form.FieldErrors.content}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="text" name="content" id="content" placeholder="Type the content here..." value="{{.Form.Content}}" required>
                </div>
                <button type="submit" class="switch borders"> Create </button>
            </form>
    
        </div>
    </div>
    {{end}}