{{define "page"}}
 <div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form method="post" action="/post/{{ .Form.ID }}/update" class="login">
                <div class="input-fields">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="id" value="{{ .Form.ID }}">

                    <label for="title"></label>
                    {{with .Form.FieldErrors.title}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="text" name="title" id="title" placeholder="Title" value="{{.Form.Title}}" required>
                    <label for="images"></label>
                    {{with .Form.FieldErrors.images}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    {{range .Form.Images}}
                    <input class="input borders" type="text" name="images" id="images" placeholder="Image URL" value="{{.}}" required>
                    {{end}}
                    <input class="input borders" type="text" name="images" id="images" placeholder="Image URL">
                    <label for="content"></label>
                    {{with .Form.FieldErrors.content}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="text" name="content" id="content" placeholder="Type the content here..." value="{{.Form.Content}}" required>
                </div>
                
                <button type="submit" class="switch borders"> Modify </button>
            </form>
    
        </div>
    </div>
    {{end}}