{{define "page"}}
<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form method="post" action="/reset-password" class="login">
                <p class="login-title bottom-outset"> Update Password </p>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    {{range .Form.NonFieldErrors}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                
                <div class="input-fields">
                    <label for="new_password"></label>
                    {{with .Form.FieldErrors.new_password}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="password" name="new_password" placeholder="New Password" id="new_password" autofocus required>
                    
                    <label for="confirm_password"></label>
                    {{with .Form.FieldErrors.confirm_password}}
                        <div class="flash">{{.}}</div>
                    {{end}}
                    <input class="input borders" type="password" name="confirm_password" placeholder="Confirm New Password" id="confirm_password" required>
                </div>
                
                <div class="submit">
                    <button class="button borders top-outset" type="submit"> Confirm </button>
                </div>
            </form>
        </div>
    </div>
{{end}}