{{ define "page" }}

    <div class="search-title">
        {{ with .Search }}
            <span> Posts for </span> <span class="search-text"> {{ . }} </span>
        {{ else }}
            <span class="alert"> No research detected :/ </span>
        {{ end }}
    </div>
    <div class="search-results">

        {{/*Checking Results*/}}
        {{ if ne (len .Posts.List) 0 }}

            {{/*Displaying Search Results*/}}
            {{ template "post-list" .Posts.List }}

            {{/*Pagination*/}}
            <div class="pagination">

                {{/*First Page*/}}
                <div class="pag-link relative">
                    {{ if ne .Posts.Metadata.CurrentPage .Posts.Metadata.FirstPage }}
                        <a href="?pag={{ .Posts.Metadata.FirstPage }}" class="abs full on-top"></a>
                    {{ end }}
                    <img src="/static/icons/first.svg" alt="first page icon" class="pag-icon" />
                </div>

                {{/*Previous Page*/}}
                <div class="pag-link relative">
                    {{ if ne .Posts.Metadata.CurrentPage .Posts.Metadata.FirstPage }}
                        <a href="?pag={{ decrement .Posts.Metadata.CurrentPage }}" class="abs full on-top"></a>
                    {{ end }}
                    <img src="/static/icons/previous.svg" alt="previous page icon" class="pag-icon" />
                </div>

                {{/*Current Page*/}}
                <div class="pag-link relative">
                    <span class="pag-current">page {{ .Posts.Metadata.CurrentPage }} of {{ .Posts.Metadata.LastPage }}</span>
                </div>

                {{/*Next Page*/}}
                <div class="pag-link relative">
                    {{ if ne .Posts.Metadata.CurrentPage .Posts.Metadata.LastPage }}
                        <a href="?pag={{ increment .Posts.Metadata.CurrentPage }}" class="abs full on-top"></a>
                    {{ end }}
                    <img src="/static/icons/next.svg" alt="next page icon" class="pag-icon" />
                </div>

                {{/*Last Page*/}}
                <div class="pag-link relative">
                    {{ if ne .Posts.Metadata.CurrentPage .Posts.Metadata.LastPage }}
                        <a href="?pag={{ .Posts.Metadata.LastPage }}" class="abs full on-top"></a>
                    {{ end }}
                    <img src="/static/icons/last.svg" alt="last page icon" class="pag-icon" />
                </div>
            </div>

        {{/*No Match Found*/}}
        {{ else }}

            {{/*Alert Message*/}}
            <div class="alert">
                {{ with .Search }}
                    <span> No post found for </span> <span class="search-text"> {{ . }} </span> <span> :/ </span>
                {{ else }}
                    <span> No research detected :/ </span>
                {{ end }}
            </div>

            {{/*Popular Posts*/}}
            {{ with .PostFeed.Popular }}
                {{ template "post-list" . }}
            {{ end }}

        {{ end }}

    </div>

{{ end }}