{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Antoine's Portfolio - Antoine de Barbarin CV & Portfolio - Computer science student: cyber security, IT infrastructures, programming...">
    <meta name="keywords" content="Antoine, Antoine-Marie, de Barbarin, Barbarin, Debarbarin, Portfolio, CV, Curriculum, Curriculum Vitae, Curriculum Vita, Curriculum Vite, Curiculum, Curiculum Vitae, Curiculum Vita, Curiculum Vita, Curiculum Vite, Aix, Aix-en-Provence, Aix-en-Pce, Developer, Developpeur, Informatique, Web, HTML, CSS, JavaScript, JS, NodeJS, Express, TypeScript, ECMAScript, ES, Golang, Go, Angular, React, Vue, Programming, Linux, Dev, Hardware, Software, Forum, C++, Java, SCSS, C#, Ynov, Ynov Campus, Aix Ynov Campus, Rust, Lua, CPP, Go, PHP, MySQL, PostGreSQL, Electronique, Cyber, Godot, Unreal, Unity, Security, API, Computer, SBC, Server, Token, Cookie, Authentification, Console, Terminal, Bash, Powershell, Ubuntu, Debian, Kali, VMWare, GNS3, PacketTracer, Proxmox, Error, Help, Tips, Tuto, Tutos">
    <meta name="author" content="Antoine de Barbarin">

    <title> {{ .Title }} </title>

    <link rel="icon" type="image/png" href="/static/img/logo/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="page-ctn">

{{/* #######################################################################################*/}}
{{/*                                        HEADER                                          */}}
{{/* #######################################################################################*/}}

            <header class="header-ctn">
            <div class="header">

{{/*            Name left           */}}
                <div class="name relative">
                    <a href="/home" class="abs full on-top"></a>
                    &lt;Portfolio&sol;&gt; Antoine de Barbarin
                </div>

{{/*            Nav Home Articles           */}}
                <nav class="header-nav">
                    <a href="/home" class="header-link">Home</a>
                    <a href="/latest" class="header-link">Latest</a>
                </nav>

{{/*            Search bar          */}}
                <form action="/search" method="get" class="search-bar">

                    {{/*CSRF Token*/}}
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

                    {{/*Shortcut Message*/}}
                    <span class="search-label">Ctrl+K</span>

                    {{/*Search input*/}}
                    <label class="abs display-none" for="search-input"></label>
                    <input type="text" name="q" id="search-input" class="search-input" required />

                    {{/*Submit button*/}}
                    <button type="submit" class="search-btn">
                        <img src="/static/img/icons/search-icon.svg" alt="search icon" class="search-icon" />
                    </button>
                </form>

{{/*            Social links           */}}
                <div class="header-social">

                    {{/*LinkedIn*/}}
                    <div class="social-elem relative">
                        <a href="https://linkedin.com/in/adebarbarin" target="_blank" class="abs full on-top"></a>
                        <img src="/static/img/icons/linkedin-icon.svg" alt="linkedin icon" class="social-icon" />
                        <span class="social-name">LinkedIn</span>
                    </div>

                    {{/*Github*/}}
                    <div class="social-elem relative">
                        <a href="https://github.com/deBarbarinAntoine" target="_blank" class="abs full on-top"></a>
                        <img src="/static/img/icons/github-icon.svg" alt="github icon" class="social-icon" />
                        <span class="social-name">Github</span>
                    </div>

                    {{/*Contact Me*/}}
                    <div class="social-elem relative">
                        <a href="/home#contact-me" class="abs full on-top"></a>
                        <img src="/static/img/icons/mail-icon.svg" alt="mail icon" class="social-icon" />
                        <span class="social-name">Contact me</span>
                    </div>
                </div>

            </div>
        </header>


{{/* #######################################################################################*/}}
{{/*                                 MAIN - TEMPLATE                                        */}}
{{/* #######################################################################################*/}}

        <main class="template-ctn">

{{/*        FLASH       */}}
{{/* Test flash messages with position fixed and a translateY transition to make it appear from the top of the screen */}}
            {{ with .Flash }}
                <div class="flash">
                    <span class="flash-message"> {{ . }} </span>
                </div>
            {{ end }}

{{/*        TEMPLATE PAGE          */}}
            {{ template "page" . }}

        </main>


{{/* #######################################################################################*/}}
{{/*                                        FOOTER                                          */}}
{{/* #######################################################################################*/}}

        <footer class="footer-ctn">

            {{/*Copyrights*/}}
            <div class="copyrights">
                &copy; {{ .CurrentYear }} Antoine de Barbarin. All rights reserved.
            </div>

            {{/*Nav links*/}}
            <nav class="footer-links">
                <a href="/policies#privacy" class="footer-link">Privacy Policy</a>
                <a href="/policies#terms" class="footer-link">Terms &amp; Conditions</a>
            </nav>

            {{/*Social links*/}}
            <div class="footer-social">

                {{/*LinkedIn*/}}
                <div class="social-elem relative">
                        <a href="https://linkedin.com/in/adebarbarin" target="_blank" class="abs full on-top"></a>
                    <img src="/static/img/icons/linkedin-icon.svg" alt="linkedin icon" class="social-icon" />
                    <span class="social-name">LinkedIn</span>
                </div>

                {{/*Github*/}}
                <div class="social-elem relative">
                        <a href="https://github.com/deBarbarinAntoine" target="_blank" class="abs full on-top"></a>
                    <img src="/static/img/icons/github-icon.svg" alt="github icon" class="social-icon" />
                    <span class="social-name">Github</span>
                </div>

                {{/*Contact Me*/}}
                <div class="social-elem relative">
                        <a href="/home#contact-me" class="abs full on-top"></a>
                    <img src="/static/img/icons/mail-icon.svg" alt="mail icon" class="social-icon" />
                    <span class="social-name">Contact me</span>
                </div>

            </div>
        </footer>

    </div>

{{/* #######################################################################################*/}}
{{/*                                      JS SCRIPTS                                        */}}
{{/* #######################################################################################*/}}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
    <script nonce="{{ .Nonce }}">

        {{/*including the CSRF token in the axios requests*/}}
        axios.defaults.headers.common['X-CSRF-TOKEN'] = {{ .CSRFToken }};


        {{/*####################################*/}}
        {{/*      Flash Message Animation       */}}
        {{/*####################################*/}}

        const flash = document.querySelector('.flash');

        if (!!flash) {

            flash.style.transform = 'translate(0,-4px)';

            setTimeout(() => {

                flash.style.transform = 'translate(0,-101%)';

                setTimeout(() => flash.style.display = 'none', 2000);

            }, 5000);
        }


        {{/*####################################*/}}
        {{/*   Search field Actions & Shorcuts  */}}
        {{/*####################################*/}}

        {{/*Prevent predefined messages when search is invalid*/}}
        const searchInput = document.querySelector('input#search-input.search-input');
        searchInput.addEventListener('invalid', (function () {
            return function (e) {
                e.preventDefault();
                searchInput.focus();
            };
        })(), true);

        {{/*Access search input when typing Ctrl+K*/}}
        document.addEventListener("keydown", (e) => {
            e = e || window.event;
            if (e.ctrlKey && e.key === "k") {
                searchInput.focus();
                e.preventDefault();
            }
        });

        {{/*Access search input when clicking on tag Ctrl+K*/}}
        const searchTag = document.querySelector('.search-label');
        searchTag.addEventListener('click', () => searchInput.focus());


{{/*####################################*/}}
{{/*    Remove CSRF token from URL      */}}
{{/*####################################*/}}

        if (window.location.href.includes('csrf_token')) {
            window.history.pushState({}, "{{ .Title }}", window.location.href.replace(/csrf_token[^&]+&?/, ''));
        }


{{/*####################################*/}}
{{/*    AJAX call increment post view   */}}
{{/*####################################*/}}

        {{ if .IsPostView }}

            {{ with .Post }}

                {{/*Send AJAX call after 5s (to be sure it is a real view and not a cURL or a missclick)*/}}
                setTimeout(() => {
                    axios.post(`/post/{{ .ID }}`)
                        .then(function (response) {
                            {{/*DEBUG*/}}
                            console.log(response);
                        })
                        .catch(function (error) {
                            {{/*DEBUG*/}}
                            console.log(error);
                        });
                }, 5000);

            {{ end }}

        {{ end }}

    </script>

</body>
</html>
{{ end }}