@import 'base';


//##############################################################################################################
//                                             MARKDOWN POST CONTENT                                           #
//##############################################################################################################

.post-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 7rem 2rem;

    .post-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        width: 100%;

        @media print {
            *,
            *:before,
            *:after {
                background: transparent !important;
                color: $white !important;
                box-shadow: none !important;
                text-shadow: none !important;
            }

            a,
            a:visited {
                text-decoration: underline;
            }

            a[href]:after {
                content: " (" attr(href) ")";
            }

            abbr[title]:after {
                content: " (" attr(title) ")";
            }

            a[href^="#"]:after,
            a[href^="javascript:"]:after {
                content: "";
            }

            pre,
            blockquote {
                border: 1px solid $medium-blue;
                page-break-inside: avoid;
            }

            thead {
                display: table-header-group;
            }

            tr,
            img {
                page-break-inside: avoid;
            }

            img {
                max-width: 100% !important;
            }

            p,
            h2,
            h3 {
                orphans: 3;
                widows: 3;
            }

            h2,
            h3 {
                page-break-after: avoid;
            }
        }

        p,
        .splendor-p {
            width: 60%;
            text-align: justify;
            font-size: 1.2rem;
            margin-bottom: 1.3rem;
        }

        h1,
        .splendor-h1,
        h2,
        .splendor-h2,
        h3,
        .splendor-h3,
        h4,
        .splendor-h4 {
            margin: 1.414rem 0 .5rem;
            font-weight: inherit;
            line-height: 1.42;
        }

        h1,
        .splendor-h1 {
            margin-top: 0;
            font-size: 3.998rem;
        }

        h2,
        .splendor-h2 {
            font-size: 2.827rem;
        }

        h3,
        .splendor-h3 {
            font-size: 1.999rem;
        }

        h4,
        .splendor-h4 {
            font-size: 1.414rem;
        }

        h5,
        .splendor-h5 {
            font-size: 1.121rem;
        }

        h6,
        .splendor-h6 {
            font-size: .88rem;
        }

        small,
        .splendor-small {
            font-size: .707em;
        }

        /* https://github.com/mrmrs/fluidity */

        img,
        canvas,
        iframe,
        video,
        svg,
        select,
        textarea {
            max-width: 60%;
        }

        /* === A bit of a gross hack so we can have bleeding divs/blockquotes. */

        p,
        *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p):not(pre):not(code) {
            margin: 1rem auto 1rem;
            max-width: 60%;
            padding: .25rem;
        }

        div {
            width: 60%;
        }

        div img {
            width: 100%;
        }

        blockquote {
            position: relative;
            width: 45%;
            border-radius: .5rem;
            background-color: transparentize($blue, 0.92);
            &::before {
                position: absolute;
                top: 0;
                left: 1rem;
                content: '“';
                font-size: 4.5rem;
                color: transparentize($white, 0.75);
            }
            &::after {
                position: absolute;
                top: calc(100% - 2.75rem);
                right: 1rem;
                content: '”';
                font-size: 4.5rem;
                color: transparentize($white, 0.75);
            }

            p {
                font-size: 1.5rem;
                font-style: italic;
                margin: 1rem auto 1rem;
            }
        }

        li {
            margin-left: 2rem;
        }

        /* Counteract the specificity of the gross *:not() chain. */

        h1 {
            padding: 4rem 0 !important;
        }

        /*  === End gross hack */

        p {
            color: $white;
            height: auto;
            line-height: 1.45;
        }

        pre,
        code {
            font-family: Menlo, Monaco, "Courier New", monospace;
            color: $yellow;
        }

        pre {
            width: 60%;
            background-color: $medium-blue;
            font-size: .8rem;
            overflow-x: scroll;
            padding: 2.5rem;
            border-radius: .4rem;
        }

        a,
        a:visited {
            color: $orange;
        }

        a:hover,
        a:focus,
        a:active {
            color: $bright-blue;
        }
    }
}

//##############################################################################################################
//                                                    HOME                                                     #
//##############################################################################################################

.overview {

    h1.main-title.abs.display-none {}
    .card-resume {

        .top-stripe {

            span.nationality {

            }
        }

        .middle-stripe {

            .resume-photo {

                img.photo {

                }
            }
            .resume-main.relative {

                span.rf-background {

                }
                .resume-line {

                    span.label {

                    }
                    span.value {

                    }
                }
                .resume-tags {

                    .tag {

                    }
                }
            }
        }
        .bottom-stripe {

            .cv-download-btn.relative {

                a.abs.full.on-top {}
                span.btn-txt {

                }
                img.btn-icon {

                }
            }
        }
    }
}
.about-me {

    .intro-title {

    }
    .about-ctn {

    }
}
.formations {

    .formation-line {

    }
}
.skills {

    .skill-line {

    }
}
.experiences {

    .experience-line {

    }
}
.last-post.relative {

    a.abs.full.on-top {}
    img.post-img {

    }
    .post-views.abs {

    }
    .post-title {

    }
    .post-created-at {

    }
    .post-updated-at {

    }
}
.popular-posts {

    .popular-line.relative {

        a.abs.full.on-top {}
        .img-ctn {

            img.post-img {

            }
        }
        .post-summary.relative {

            .post-views.abs {

            }
            .post-title {

            }
            .post-created-at {

            }
            .post-updated-at {

            }
        }
    }
}
.contact {

    .contact-title {

    }
    form.contact-form {

        .contact-form-top {

            .contact-input {

                label {

                }
                input {

                }
            }
        }
        label {

        }
        input#message.contact-msg {

        }
        button.button.contact-send-btn {

        }
    }
}


//##############################################################################################################
//                                                   SEARCH                                                    #
//##############################################################################################################

.search-title {

    span {

        .search-text {

        }
        .alert {

        }
    }
}
.search-results {

    .pagination {

        .pag-link.relative {

            span.pag-current {

            }
            a.abs.full.on-top {

            }
            img.pag-icon {

            }
        }
    }
    .alert {

        span {

        }
        span.search-text {

        }
    }
}


//##############################################################################################################
//                                                CENTER FORMS                                                 #
//##############################################################################################################

.center-page {

    form.form-center {

        span.title {

        }
        .form-error {

        }
        .input-fields {

            .form-input {

                label.input-label {

                }
                .form-error {

                }
                // TODO -> handle different input types here
                input.input-password {

                }
                input.input-text{

                }
                a.forgot-link {

                }
            }
        }
        .submit {

            button.form-button {

            }
        }
        .form-alt {

            span.text {

            }
            a.form-link {

            }
        }
    }
}


//##############################################################################################################
//                                                 ACTIVATION                                                  #
//##############################################################################################################

// FIXME -> change some class here to not conflict with the generic forms defined before ^^
.center-page {

    form.form-center {

        span.title {

        }
        .submit {

            button.form-button {

            }
        }
    }
}


//##############################################################################################################
//                                                  POLICIES                                                   #
//##############################################################################################################

.container-mentions {
    height: 100%;
    padding-top: 20px;
    padding-left: 50px;
    margin-left: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px transparentize($blue, 0.8), 0 -4px 8px transparentize($blue, 0.8), 4px 0 8px transparentize($blue, 0.8), -4px 0 8px transparentize($blue, 0.8);
    font-family: "Varela-Round", sans-serif;

    h2 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        margin-bottom: 20px;
    }
    h3 {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 30px;
    }
}

//##############################################################################################################
//                                                    POST                                                     #
//##############################################################################################################

.post-ctn {

    .title {
        font-size: 4rem;
        color: $bright-blue;
        font-weight: 500;
    }
    .post-info-ctn {
        display: flex;
        width: 70%;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;

        .post-info {
            display: flex;
            gap: 1rem;
            align-items: center;

            .view-icon {
                height: 1.5rem;
            }
            span {
                font-size: .9rem;
                color: $blue;
            }
        }
    }
    .post-cover {
        width: clamp(400px, 60%, 150rem);
        margin-bottom: 2rem;

        img.post-cover-img {
            object-fit: contain;
            object-position: center;
            width: 100%;
        }
    }
    .post-content {
        // TODO -> see if it's better to insert here the markdown part that is set before ^^
    }
}


//##############################################################################################################
//                                                  DASHBOARD                                                  #
//##############################################################################################################



//##############################################################################################################
//                                                    ERROR                                                    #
//##############################################################################################################

.container-error{

    .error-title{

    }
    .error-msg{

    }
}
