{{define "subject"}}Antoine's Portfolio - Forgotten password{{end}}

{{define "plainBody"}}
    Hi {{.username}},

    It seems you forgot the password of your account :(

    Please visit the following link to update your password:

    https://adebarbarin.com/reset-password/{{.resetToken}}

    Please note that this is a one-time use opportunity, and it will expire in 24 hours.

    Thanks,

    Antoine de Barbarin
{{end}}

{{define "htmlBody"}}
    <div>
        <p>Hi {{.username}},</p>
        <p>It seems you forgot the password of your account :(</p>
        <p>Please visit or click on the following link to update your password:</p>
        <p><a href="https://adebarbarin.com/reset-password/{{.resetToken}}">Update your password</a></p>
        <p>Please note that this is a one-time use opportunity, and it will expire in 24 hours.</p>
        <p>Thanks,</p>
        <p>Antoine de Barbarin</p>
    </div>
{{end}}